<h2>Move Robot Arm to absolute position</h2>
<h3>Drive to Point</h3>

  <table class='table table-striped'>
    <tbody>
      <tr>
        <td><b>J1 </b><input size="2" type="number" name="j1" [(ngModel)]="robot.j1" #ctrl=ngModel></td>
        <td><b>J2 </b><input size="4" type="number" name="j2" [(ngModel)]="robot.j2" #ctrl=ngModel></td>
        <td><b>J3 </b><input size="4" type="number" name="j3" [(ngModel)]="robot.j3" #ctrl=ngModel></td>
      </tr>
      <tr>
        <td><b>J4 </b><input size="4" type="number" name="j4" [(ngModel)]="robot.j4" #ctrl=ngModel></td>
        <td><b>J5 </b><input size="4" type="number" name="j5" [(ngModel)]="robot.j5" #ctrl=ngModel></td>
        <td><b>J6 </b><input size="4" type="number" name="j6" [(ngModel)]="robot.j6" #ctrl=ngModel></td>
      </tr>
      <tr>
        <td><b>Gripper </b><input size="4" type="number" name="gripper" [(ngModel)]="robot.gripper" #ctrl=ngModel></td>
      </tr>
      <tr>
        <td><input type="button" value="Drive to Point" (click)="setPosition(robot)"></td>
      </tr>
    </tbody>
  </table>

  <p>Current Point: [ {{robot.j1}}, {{robot.j2}}, {{robot.j3}}, {{robot.j4}}, {{robot.j5}}, {{robot.j6}}, {{robot.gripper}} ] </p>