<mat-grid-list cols="6" gutterSize="100px" rowHeight="150px">
  <mat-grid-tile colspan="1" rowspan="1" *ngFor="let joint of robotJoints">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{joint.header}}</mat-card-title>
          <mat-card-subtitle>{{joint.subHeader}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-raised-button (click)="increment(joint.mapping)">+</button>
          <button mat-raised-button (click)="increment(joint.mapping)">-</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-form-field>
  <input matInput placeholder="Step Width" size="4" type="number" name="steps" value="100" [(ngModel)]="stepWidth">
</mat-form-field>
<!--
  <p>Current Point: [ {{robot.joint1}}, {{robot.joint2}}, {{robot.joint3}}, {{robot.joint4}}, {{robot.joint5}}, {{robot.joint6}}, {{robot.gripper}} ] </p>-->