<!--<h2>Move Robot Arm to Relative Joint position</h2>
<h3>Drive individual Joints by Hand</h3>-->
<mat-grid-list cols="2">
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>J1</mat-card-title>
        <mat-card-subtitle>Z Axis</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button (click)="increment('joint1')">+</button>
        <button mat-raised-button (click)="increment('joint1')">-</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
      <mat-card>
        <mat-card-header>
          <mat-card-title>J2</mat-card-title>
          <mat-card-subtitle>Shoulder</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-raised-button (click)="increment('joint2')">+</button>
          <button mat-raised-button (click)="increment('joint2')">-</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>

  <table class='table table-striped'>
    <tbody>
      <tr>
        <th>J1 - Z Axis</th>
        <td>
          <input type="button" value="+" (click)="increment('joint1')"></td>
        <td><input type="button" value="-" (click)="decrement('joint1')"></td>
      </tr>
      <tr>
        <th>J2 - Shoulder</th>
        <td><input type="button" value="+" (click)="increment('joint2')"></td>
        <td><input type="button" value="-" (click)="decrement('joint2')"></td>
      </tr>
      <tr>
        <th>J3 - Ellbow</th>
        <td><input type="button" value="+" (click)="increment('joint3')"></td>
        <td><input type="button" value="-" (click)="decrement('joint3')"></td>
      </tr>
      <tr>
        <th>J4 - Hand - UAJ</th>
        <td><input type="button" value="+" (click)="increment('joint4')"></td>
        <td><input type="button" value="-" (click)="decrement('joint4')"></td>
      </tr>
      <tr>
        <th>J5</th>
        <td><input type="button" value="+" (click)="increment('joint5')"></td>
        <td><input type="button" value="-" (click)="decrement('joint5')"></td>
      </tr>
      <tr>
        <th>J6</th>
        <td><input type="button" value="+" (click)="increment('joint6')"></td>
        <td><input type="button" value="-" (click)="decrement('joint6')"></td>
      </tr>
      <tr>
        <th>Gripper</th>
        <td><input type="button" value="+" (click)="increment('gripper')"></td>
        <td><input type="button" value="-" (click)="decrement('gripper')"></td>
      </tr>
      <tr>
        <th></th>
        <td>
          <mat-form-field>
            <input matInput placeholder="Step Width" size="4" type="number" name="steps" value="100" [(ngModel)]="stepWidth">
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>
<!--
  <p>Current Point: [ {{robot.joint1}}, {{robot.joint2}}, {{robot.joint3}}, {{robot.joint4}}, {{robot.joint5}}, {{robot.joint6}}, {{robot.gripper}} ] </p>-->